<a href="https://colab.research.google.com/github/ajakrish/Ajay_info5502_spring2022/blob/main/lab_assignment_01_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [12]:
from collections import Counter
k = "google.com"
j = Counter(k)
print(str(j))

Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(2) Write a Python program to sum all the items in a list. (5 points)

In [19]:
p = [11,12,13,14,15,16]
q = sum(p)
print(q)

81

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [47]:
def except_frist(i):
  k = i[0]
  l = len(i)
  i = i.replace (k, "$")
  i = k+i[1:]
  return i
print(except_frist("restart"))

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [52]:
a = 4
b = 5
s = 3.14 * (1+a/b)**3
print(s)

18.312480000000004

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [18]:
# write your answer here
d1 = {1:10,2:20}
d2 = {3:30,4:40}
d3 = {5:50,6:60}
d4 = {}
for i in (d1,d2,d3): d4.update(i)
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [21]:
# write your answer here
i = ("z","g",6,"k",8,"l","x",2,"h")
print("x" in i)
print(8 in i )
print (7 in i)
print ("o" in i)

True
True
False
False

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [23]:
# write your answer here
j = {10,14,15,16,17,7,8,9}
print(max(j))
print(min(j))

17
7

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [78]:
# write your answer here
import numpy as np, random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
grp_length = [4,5,6,6,4,5]
output = []
for i in grp_length :
  random_grp = random.sample(studnet_list, i)
  studnet_list = list(set(studnet_list)^set(random_grp))
  output = output+[random_grp]
for j in output:
  print(j)

['sb1357', 'av0659', 'sk1386', 'hy0232']
['sm1907', 'bg0320', 'kg0569', 'aos0040', 'sm1640']
['ja0964', 'sc1229', 'pr0353', 'ds0814', 'nv0234', 'kg0470']
['sk1458', 'dr0609', 'vm0377', 'ak0956', 'fh0141', 'ak0934']
['vb0218', 'nm0618', 'sk1313', 'gn0108']
['sk1390', 'sa1198', 'ms1500', 'sg1297', 'jl1252']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [42]:
# write your answer here
a = [10,11,13,14,14,15]
b = [10,11,13,14,15]
def duplicate(a):
  k = set()
  for i in a :
    if i in k:
      return i
    k.add(i)
  return -1
print(duplicate(a))
print(duplicate(b))

14
-1

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [54]:
# write your answer here
from datetime import date , timedelta
def sunday(y):
  a = date(y, 1 ,1)
  a += timedelta(days = 6 - d.weekday())
  while a.year ==y:
    yield a
    a += timedelta(days = 7)
for a in sunday(1949):
  print (a)

1949-01-01
1949-01-08
1949-01-15
1949-01-22
1949-01-29
1949-02-05
1949-02-12
1949-02-19
1949-02-26
1949-03-05
1949-03-12
1949-03-19
1949-03-26
1949-04-02
1949-04-09
1949-04-16
1949-04-23
1949-04-30
1949-05-07
1949-05-14
1949-05-21
1949-05-28
1949-06-04
1949-06-11
1949-06-18
1949-06-25
1949-07-02
1949-07-09
1949-07-16
1949-07-23
1949-07-30
1949-08-06
1949-08-13
1949-08-20
1949-08-27
1949-09-03
1949-09-10
1949-09-17
1949-09-24
1949-10-01
1949-10-08
1949-10-15
1949-10-22
1949-10-29
1949-11-05
1949-11-12
1949-11-19
1949-11-26
1949-12-03
1949-12-10
1949-12-17
1949-12-24
1949-12-31